@import "variables";

input[type="checkbox"] {
  transform: scale(1.2, 1.2);
}

@import "../questions/questions";
@import "../results/results";

.btn {
  border-radius: 3px;
}

.oss-back-button{
  background-color: $oss-darkgrey;
  color: black;
  border-color: $oss-darkgrey;

  &:hover {
    color: black;
    background-color: $oss-grey;
    border-color: $oss-darkgrey;
  }
}

.oss-next-button{
  background-color: $oss-primarygreen;
  color: black;
  border-color: $oss-primarygreen;

  &:hover {
    color: black;
    background-color: $oss-lightgreen;
    border-color: $oss-primarygreen;
  }
}

.oss-button {
  padding: 10px 20px;
}

.navigation-buttons {
  float: right;
  padding-top: 30px;
  padding-bottom: 70px;
}
