.location-page{
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 70px;
  padding-top: 30px;

  @media screen and (max-width: 580px) {
    padding: 20px;
  }

  .location-search-input{
    width: 100%;
  }

  .alert-danger {
    background-color: #f2dede;
    background: -webkit-linear-gradient(top, #f2dede 70%, #f2dede 100%);
    background: linear-gradient(to bottom, #f2dede 70%, #f2dede 100%);
  }

  .alert-danger a, .alert-danger a:link strong {
    color: #a94442;
    text-decoration: underline;
  }

  .alert {
    margin-top: 20px;
  }
}
