.questions-page {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 70px;
  padding-top: 30px;

  .question-checkbox {
    float: right;
  }

  .questions-table {
    padding-top: 20px;
  }

  .question-border{
    border-bottom: 1px $oss-grey solid;
    padding-top: 12px;
    padding-bottom: 10px;
  }

  label {
    margin: 0px;
    font-weight: normal;
  }

  .subquestion {
    padding-top: 10px;
    border-top: 1px $oss-grey solid;
    margin-top: 10px;
  }
}
