.questions-page {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 70px;
  padding-top: 30px;

  .navigation-buttons {
    float: right;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .question-checkbox {
    float: right;
    transform: scale(1.2, 1.2);
  }

  .question{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  table tr td {
    border: none;
  }

  .questions-table {
    padding-top: 20px;
  }

  .question-border{
    border-bottom: 1px lightgrey solid;
    padding-top: 10px;
    padding-bottom: 10px;

  }


}
