<div id="qg-site-header" class="container-fluid qg-site-width">

  <div class="row">
    <div ng-include src="'../bower_components/ep-glue-swe-templates-test/swe/assets/includes/global/coat-of-arms.html'"></div>
    <ul class="qg-utilities list-inline">
    </ul>
    <form action="http://pan.search.qld.gov.au/search/search.cgi" id="qg-search-form" role="search" class="qg-visually-hidden-md">
      <div>
        <label for="qg-search-query" class="qg-visually-hidden">Search Queensland Government</label>
        <div class="input-group">
          <input type="text" id="qg-search-query" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><span class="fa fa-search" aria-hidden="true"></span></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>


