.results-page {
  .oss-accordian {
    .oss-indicator {
      float: right;
      color: $oss-darkgrey;
    }
    li {
       list-style-type: none;
    }
    .oss-service-group-body {
      border-bottom: solid $oss-darkgrey 1px;
    }
    .oss-service-group-header {
      border-top: solid $oss-blue 2px;
      color: $oss-blue;
      font-weight: bold;
    }
    .oss-service-group-header.collapsed {
      border-top: none;
      background-color: $oss-grey;
      border-bottom: solid $oss-darkgrey 1px;
      color: $oss-bodytext;
    }
  }
  
}
