.results-page {

  $base-padding: 12px;

  .oss-indicator {
    float: right;
    color: $oss-darkgrey;
    font-size: 22px;
  }
  input {
    margin-right: 10px;
  }
  ul {
    padding-left: $base-padding;
  }
  li {
    list-style-type: none;
  }
  label {
    padding-left: $base-padding;
    font-weight: normal;
  }
  .oss-results {
    border-bottom: solid $oss-darkgrey 1px;
    border-left: solid $oss-darkgrey 1px;
    border-right: solid $oss-darkgrey 1px;
    margin-bottom: 16px;
  }
  .oss-results-sg-header {
    border-top: solid $oss-blue 2px;
    color: $oss-blue;
    font-weight: bold;
    padding: $base-padding;
  }
  .oss-results-sg-header.collapsed {
    border-top: solid $oss-darkgrey 1px;
    background-color: $oss-grey;
    color: $oss-bodytext;
    font-weight: bold;
    padding: $base-padding;
  }
  .oss-results-sg-description {
    padding-bottom: $base-padding;
    padding-left: $base-padding;
    padding-top: 6px;
  }
}
