.business-types-page {
  $business-type-boxes-width: 180px * 3 + 10px *6 +1;

  @media screen and (max-width: 580px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .main-title{
    margin-left: 10px;
  }

  .icon {
    height: 47px;
    margin: auto;
    margin-bottom: 16px;
  }

  .business-type-box{
    border: 1px solid black;
    //padding: 20px;
    width: 180px;
    height: 180px;
    margin: 10px;
    float: left;
    color: $oss-blue;
    text-align: center;

    @media screen and (max-width: $business-type-boxes-width + 20px) {
      float: none;
      text-align: center;
    }

    .icon-active {
      display: none;
    }
    .icon-inactive {
      display: block;
    }

    &:hover {
      .icon-inactive {
        display: none;
      }
      .icon-active {
        display: block;
      }
      background-color: $oss-blue;
      color: white;
    }
  }

  .selected-business-type{
    background-color: $oss-blue;
    color: white;
  }

  .navigation-buttons{
    display: block;
    text-align: right;
  }
  
  .business-types {
    margin: 0 auto;
    width: $business-type-boxes-width;

    @media screen and (max-width: $business-type-boxes-width + 20px) {
      width: 100%;
      text-align: center;
    }
  }

}
