.business-types-page {
  $boxes-width: 180px * 3 + 10px *6 +1;

  @media screen and (max-width: 580px) {
    padding: 20px;
  }

  h1, h5 {
    margin-left: 10px;
  }

  .icon {
    height: 47px;
    margin: auto;
    margin-bottom: 16px;
  }

  .boxes {
    margin: 0 auto;
    width: $boxes-width;

    @media screen and (max-width: $boxes-width + 20px) {
      width: 100%;
      text-align: center;
    }
  }

  .box {
    border: 1px solid black;
    width: 180px;
    height: 180px;
    margin: 10px;
    float: left;
    color: $jus-blue;
    text-align: center;

    @media screen and (max-width: $boxes-width + 20px) {
      float: none;
      text-align: center;
    }

    .icon-active {
      display: none;
    }

    .icon-inactive {
      display: block;
    }

    @media screen and (min-width: 820px) {
      &:hover {
        background-color: $jus-blue;
        color: white;

        .icon-inactive {
          display: none;
        }
        .icon-active {
          display: block;
        }
      }
    }
  }

  .selected-box {
    background-color: $jus-blue;
    color: white;
  }

  .navigation-buttons {
    display: block;
    text-align: right;
    padding-right: 150px;

    @media screen and (max-width: $boxes-width + 20px) {
      padding-right: 20px;
    }
  }
}
