.business-types-page {

  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 70px;
  padding-top: 30px;

  @media screen and (max-width: 1040px) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .main-title{
    text-align: left;
  }

  .icon {
    height: 47px;
    margin: auto;
    margin-bottom: 16px;
    //display: block;
    text-align: center;
  }

  .business-type-box{
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    width: 180px;
    height: 180px;
    margin: 20px;
    display: inline-block;
    color: $oss-blue;

    .icon-active {
      display: none;
    }
    .icon-inactive {
      display: block;
    }

    &:hover {
      .icon-inactive {
        display: none;
      }
      .icon-active {
        display: block;
      }
      background-color: $oss-blue;
      color: white;
    }
  }

  .selected-business-type{
    background-color: $oss-blue;
    color: white;
  }

  .navigation-buttons{
    display: block;
  }

  .business-types{
    text-align: center;
  }

  .boxes{
    text-align: center;
  }
}
